#dog-container {
    display : flex;
    justify-content : space-evenly;
}

#dog-gallery {
    display : flex;
    flex-direction: column;
    max-width : 20%;
}
#dog-details {
    display: flex;
    text-align : center;
    flex-direction: column;
    max-width : 35%;
}
#submit {
    text-align : right;
    max-width : 30%;
}




