#dog-container {
    display : flex;
    justify-content : space-evenly;
}

#dog-gallery {
    display : flex;
    flex-direction: column;
    max-width : 20%;
}
#dog-details {
    text-align : center;
    max-width : 50%
}
#submit {
    text-align : right;
    max-width : 30%;
}




